@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #20161f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #263e3f;
  border-radius: 12px;
}
